.image-preview {
    max-height: 100vh;
    margin-top: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.preview-image {
    /* width: 100px;  */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.messages-container {
    max-height: 50vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.message-item {
    margin-bottom: 10px;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
}