.InsertMainContainer {
  animation: listing-fadein 1s ease 0s 1 normal forwards;
  background-color: rgba(182, 35, 35, 0);
  width: 90%;
  height: 85%;
  position: absolute;
  left: 5%;
  top: 10%;
  text-align: center;
  justify-content: center;
  display: flex;
}

.InsertForm {
  background-color: rgba(0, 128, 0, 0.397);
  border-radius: 10px;
  position: absolute;
  width: 25%;
  height: 100%;
}

.slide-left {
  animation: leftSlide 1s ease 0s 1 normal forwards;
}

.slide-right {
  animation: rightSlide 1s ease 0s 1 normal forwards;
}

.InsertPreview {
  background-color: rgba(0, 132, 255, 0.404);
  border-radius: 10px;
  position: absolute;
  width: 25%;
  height: 100%;
  left: 52%;
  /* transform: translateX(60%); */
  animation: listing-fadein 1s ease 0s 1 normal forwards;
}

.modified-select {
  width: 95%;
  padding: 10px;
  text-align: center;
  position:relative;
  left: 50%;
  transform:translate(-50%, 0%);
  margin-bottom: 10px;
}


/* PHONE CSS */
@media (max-width: 480px) {
  
  .InsertMainContainer {
    animation: listing-fadein 1s ease 0s 1 normal forwards;
    width: 90%;
    height: 80%;
    position: absolute;
    left: 5%;
    top: 10%;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  .InsertForm {
    background-color: green;
    position: absolute;
    border-radius: 10px;
    width: 40%;
    height: 100%;
  }

  .InsertPreview {
    background-color: aqua;
    position: absolute;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    left: 53%;
    /* transform: translateX(60%); */
    animation: listing-fadein 1s ease 0s 1 normal forwards;
  }

  .modified-select {
    width: 95%;
    padding: 10%;
    /* height: */
    font-size: 2vw;
    text-align: center;
  }
}




@keyframes leftSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}

@keyframes rightSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60%);
  }
}


@keyframes form-fadein {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }